// Nova Tool CSS
.editor-js {
  width: 100%;
  background-color: #fff;
  border-width: 1px;
  border-color: #bacad6;;
  padding-left: .75rem;
  color: #7c858e;
  border-radius: .5rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

.editor-js-content {

  .editor-js-block {
    padding: .7em 0;
  }

  h2 {
    padding: 1em 0;
    margin: 0;
    margin-bottom: -0.9em;
    line-height: 1.5em;
  }

  p {
    line-height: 1.6em;
  }

  .editor-js-code {
    min-height: 200px;
    color: #41314e;
    line-height: 1.6em;
    font-size: 12px;
    background: #f8f7fa;
    border: 1px solid #f1f1f4;
    -webkit-box-shadow: none;
    box-shadow: none;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    resize: vertical;
  }

  .editor-js-link {
    display: block;
    background: #fff;
    border: 1px solid rgba(201, 201, 204, 0.48);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 6px;
    padding: 25px;

    h4 {
      font-size: 17px;
      font-weight: 600;
      line-height: 1.5em;
      margin: 0 0 10px 0;
    }

    small {
      margin-top: 25px;
      display: block;
      font-size: 15px;
      line-height: 1em;
      color: #888;
    }

    .editor-js-link-image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 0 0 30px;
      width: 65px;
      height: 65px;
      border-radius: 3px;
      float: right;
    }
  }
}